/*!***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[7].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[7].use[5]!./src/styles/home.module.scss ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.home_main__j1lXM {
  padding: 20px;
  font-family: Arial, sans-serif;
}

.home_header__qIp_p {
  text-align: center;
  margin-bottom: 30px;
}

.home_header__qIp_p h1 {
  font-size: 2rem;
  color: #fdfdfd;
}

.home_header__qIp_p p {
  font-size: 1.2rem;
  color: #ffffff;
}

.home_section___cIeQ {
  padding: 20px;
}

.home_news__phff3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  gap: 20px;
}

.home_article__fu4Lw {
  background-color: #797979;
  padding: 20px;
  border-radius: 8px;
}

.home_article__fu4Lw h3 {
  font-size: 1.3rem;
  color: #ffffff;
}

.home_article__fu4Lw p {
  font-size: 1rem;
  color: #ffffff;
}

.home_article__fu4Lw a {
  color: #0289ff;
  text-decoration: none;
  margin-left: 85%;
  padding: 10px;
}

.home_article__fu4Lw a:hover {
  text-decoration: underline;
}
